body
{
  background-color: #1E1E1E;
  font-family: 'Roboto';
  font-size: 12;
  font-weight: 400;
  color: #E0E2E4;
  margin: 0;
  border: 0;
  padding: 0;
}

h1
{
  font-size: 40px;
  text-align: center;
  text-shadow: 3px 3px rgba(0,0,0,.3);
}

h1 span
{
  font-size: 20px;
  color: #aaaaaa;
}

canvas
{
  border: 30px solid #303030;
  border-radius: 20px;
  box-shadow:5px 5px rgba(0,0,0,.3);
}
